span{
margin: 50px;
font-size:18px;
padding: 50px;
}
thirDdiv{
    height: 600px;
    width: 500px;
    
}
img{

    border-style:dashed;
    border-color:aqua;
    width:400px

}
h1{
    color: gray;
}
body{
    background-image:url('https://phantom-marca.unidadeditorial.es/a2d45f72f6e310e58a7cc2ddfcd34d71/resize/1320/f/jpg/assets/multimedia/imagenes/2021/08/21/16295023086247.jpg')
}